
.banner{
background-color: orange;
height:80vh;
background-image: url('../../../public/assets/banner-sobre.png');
  background-size: cover;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */

  display:flex;
  align-items:center;
  justify-content:center;
  margin:0px;
  padding-top: 60px;
}
.banner > h1{
   text-transform:uppercase;

    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #17171750;
    font-size: 5rem;
    color: white;
}

/*sobre nos*/
.boxSobre{
  max-width:70vw;
  text-align:center;
  margin:40px auto;
  padding:0px;
}

.boxSobre > h2{
  font-size: 18px;
}

.boxSobre > p{
  margin: 10px;
}

.boxSobreImg{
  width:100%;
  display:flex;
}


.boxSobreImg > img{
   width:49vw;
}